<form id="new-post" action="/posts/new" method="post">
	<label for="title">Title</label>
	<input type="text" name="title" placeholder="Enter a descriptive title...">
	<br>
	<label for="body">Body</label>
	<textarea form="new-post" name="body" rows="8" cols="40" placeholder="Put your blog post here...."></textarea>
	<button type="submit" name="new-post-button">Submit</button>
</form>
